<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head><title></title></head>
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>HC-CIS<small>&nbsp; Squash Players</small></h1>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">                        
                            <li><a href="/player/add" th:href="@{/player/add}"><i class="icon-th-list"></i>Add a Player</a></li>     
                            <li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>List Players</a></li>     
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </body>

</html>