<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Players</title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 80px;">Id</th>
                        <th style="width: 80px;">Name</th>
                        <th style="width: 80px;">Parent Name</th>
                        <th style="width: 80px;">Phone Number</th>
                        <th style="width: 80px;">Email Address</th>
                        <th style="width: 80px;">Amount Paid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="player : ${thePlayers}">
                        <td><a th:href="@{/player/edit(id=${player.id})}" th:text="${player.id}"></a></td>
                        <td th:text="${player.name}">Joe</td>
                        <td th:text="${player.parentName}"></td>
                        <td th:text="${player.phoneNumber}"></td>
                        <td th:text="${player.emailAddress}"></td>
                        <td th:text="${player.amountPaid}"></td>
                    </tr>
                    <tr>
                        <td>Total Amount Paid</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td th:text="${totalPaid}"></td>
                    </tr>
                </tbody>
            </table>    

        </div>

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
