<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
          
    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            
                <div class="container" >

                    <div class="intro-text form-horizontal" >
                        <form  th:object="${user}" action="/authenticate" th:action="@{/authenticate}" method="get" >
                            <div style="text-align: center;" class="H1" th:text="#{welcome}">Canes Camp</div><div th:text="#{test.show.parameter(${testNumber})}"></div>
                            <div class="smallInput">
                                <input type="text" class="smallInput" th:field="${user.username}" placeholder="username" />
                            </div>
                            <div class="smallInput">
                                <input type="password" class="smallInput" th:field="${user.password}" placeholder="password" />
                            </div>
                            <div style="text-align: center;" >
                                <button class="btn btn-primary btn-lg" type="submit">Start</button>
                            </div>
                        </form>

                    </div>
                </div>
            

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>

        </div>






    </body>

</html>