<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Add Player</title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <div><h2>Add a Player</h2></div>
            <h3>
            <span th:text="${invalidAmountPaid}"></span>
            </h3>
            <form th:object="${player}" action="notused.html" th:action="@{/player/addSubmit}" method="get" class="form-horizontal">

                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <td><input type="text" value="Joe Smith"  th:field="${player.name}"/> 
                            </td>
                        </tr>
                        <tr>
                            <th>Parent Name</th>
                            <td><input type="text" value="Joe Smith" th:field="${player.parentName}"/> 
                            </td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td><input type="text" value="Joe Smith" th:field="${player.phoneNumber}"/> 
                            </td>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td><input type="text" value="Joe Smith" th:field="${player.emailAddress}"/> 
                            </td>
                        </tr>
                        <tr>
                            <th>Amount Paid</th>
                            <td><input type="number" min="0" max="50" value="0" th:field="${player.amountPaid}"/> 
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Enter</button>
                    </div>

                </fieldset>
            </form>

        </div>

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
